/*
.row_10{
!*    border: 1px solid red;*!
    display: flex;
    height: 730px;
    width: 1520px;
    position: relative;
    top: -40px;
    background-color: #141414;
    padding: 0;
}
.c1{
    color:red;
    font-size: 50px;
    font-family:"Alegreya" ;
    font-weight: bolder;
    position: absolute;
    left: 50px;
    top: 50px;
}
.c2{
    color:white;
    font-size: 50px;
    font-family:"Alegreya" ;
    font-weight: bolder;
    position: absolute;
    left: 200px;
}
.name{
    width: 300px;
    height: 40px;
    position: absolute;
    right: 100px;
    top: 180px;
    border-radius: 10px;
}
.email{
    width: 400px;
    height: 40px;
    position: absolute;
    right: 100px;
    top: 250px;
    border-radius: 10px;
}
.massege{
    width: 600px;
    height: 200px;
    position: absolute;
    right: 100px;
    top: 320px;
    border-radius: 10px;
}
.submit{
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 130px;
    right: 100px;
    border-radius: 10px;
    background-color: #0b5ed7;
    color:white ;
}
.img1{
    width: 50px;
    height: 50px;

}
#phone-img{
    position: absolute;
    top: 200px;
    left: 50px;
}
#email_img{
    position: absolute;
    top: 300px;
    left: 50px;
}
.email_to{
    position: absolute;
    top: 310px;
    left: 120px;
    color: white;
}
.phone_to{
    position: absolute;
    top: 210px;
    left: 100px;
    color: white;
}
#tel1{
    color: white;
    display: block;
    font-size: 1em;
    position: absolute;
    top: 200px;
    left: 130px;
}*/
.contact{
       /* border: 1px solid red;*/
    /*display: flex;*/
    height: 730px;
    width: 1520px;
    position: absolute;
    bottom: -1025%;
    background-color: #141414;
    padding: 0;
}
.c1{
    color:red;
    font-size: 50px;
    font-family:"Alegreya" ;
    font-weight: bolder;
    position: absolute;
    left: 50px;
    top: 50px;
}
.c2{
    color:white;
    font-size: 50px;
    font-family:"Alegreya" ;
    font-weight: bolder;
    position: absolute;
    left: 200px;
}

#nameText{
    width: 300px;
    height: 40px;
    position: absolute;
    right: 100px;
    top: 180px;
    border-radius: 5px;
}
#emailText{
    width: 400px;
    height: 40px;
    position: absolute;
    right: 100px;
    top: 250px;
    border-radius: 5px;
}
#massageText{
    width: 600px;
    height: 200px;
    position: absolute;
    right: 100px;
    top: 320px;
    border-radius: 5px;
}
.submit{
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 130px;
    right: 100px;
    border-radius: 5px;
    background-color: #0b5ed7;
    color:white ;
}
.img1{
    width: 50px;
    height: 50px;

}
#phone-img{
    position: absolute;
    top: 200px;
    left: 50px;
}
#email_img{
    position: absolute;
    top: 300px;
    left: 50px;
}
.email_to{
    position: absolute;
    top: 310px;
    left: 120px;
    color: white;
}
.phone_to{
    position: absolute;
    top: 210px;
    left: 100px;
    color: white;
}
#tel1{
    color: white;
    display: block;
    font-size: 1em;
    position: absolute;
    top: 200px;
    left: 130px;
}

@media all and (max-width: 1024px){

    .c1{
        font-size: 2.5em;
    }
    .c2{
        left: 130%;
    }
    .img1{
        width: 30px;
        height: 30px;
    }
    .tel,.email_to{
        font-size: 1em;
    }
    .text{
        right: 35%;
    }
    #nameText{
        width: 15%;
        height: 5%;
        border-radius: 5px;
        right: 33%;
    }
    #emailText{
        width: 18%;
        height: 5%;
        border-radius: 5px;
        right: 33%;
    }
    #massageText{
        width: 30%;
        height: 25%;
        right: 33%;
    }
    .submit{
        width: 100px;
        height: 40px;
        right: 35%;
    }
}
@media all and (max-width: 851px) {
    .c1{
        font-size: 2.5em;
    }
    .c2{
        font-size: 40px;
        left: 126%;
    }
    .img1{
        width: 30px;
        height: 30px;
    }
    #tel,.email_to{

        left: 86px;
        font-size: 1em;
        top: 300px;
    }
    .text{
        right: 35%;
    }
    #nameText{
        width: 15%;
        height: 5%;
        border-radius: 5px;
        right:45%;
    }
    #emailText{
        width: 18%;
        height: 5%;
        border-radius: 5px;
        right: 45%;
    }
    #massageText{
        width: 30%;
        height: 25%;
        right: 45%;
    }
    .submit{
        width: 100px;
        height: 40px;
        right: 44%;
    }
}
@media all and (max-width: 768px){
    .contact{
        top: 965%;
        height: 705px;

    }
    .c1{
        font-size: 3em;
    }
    .c2{
        left: 130%;
    }

    .img1{
        width: 30px;
        height: 30px;

      /*  !* top: 100%;*!*/
    }
    #phone-img{
        top: 20%;
    }
    #email_img{
        top:30%;
        left: 3%;
    }
    .tel{
        top: 80%;
    }
    #tel1{
        top: 20%;
    }
    #email1{
        top: 30%;
    }

    .tel,.email_to{
        font-size: 1em;
    }
    .text{
        left: 15%;
    }
    #nameText{
        left: 515px;
        border-radius: 5px;
        top: 135px;
        /*left: 33%;
        width: 15%;
        height: 5%;
        top: -135px;
        border-radius: 5px;*/
    }
    #emailText{
        left: 30%;
        width: 18%;
        height: 5%;
        border-radius: 5px;
    }
    #massageText{
        left: 19%;
        width: 30%;
        height: 25%;
        top: 240px;
    }
    .submit{
        width: 100px;
        height: 40px;
        left: 40%;
        bottom: 30%;
    }
}
@media all and (max-width: 426px){
    .contact{
        /* border: 1px solid red;*/
    top: 1000%;
        width: 425px;
        height: 800px;
    }
    .c1{
        font-size: 2em;
        left: 30%;
    }
    .c2{
        font-size: 1em;
        left: 130%;
    }
    .img1{
        width: 30px;
        height: 30px;
    }
    #phone-img{
        top: 15%;
        width: 30px;
        height: 30px;
        left: 5%;
    }
    #email_img{
        top:25%;
        left: 5%;
    }
    .tel{
        top: 15%;

    }
    #tel1{
        top: 14%;
        left: 20%;
    }
    #email1{
        top: 25%;
        left: 20%;
    }

    .tel,.email_to{
        font-size: 1em;
    }
    .text{
        left: 15%;
    }
    #nameText{
        left: 40%;
        width: 60%;
        height: 4%;
        top: 30%;
        border-radius: 5px;
    }
    #emailText{
        left: 30%;
        width: 70%;
        height: 4%;
        top: 34%;
        border-radius: 5px;
    }
    #massageText{
        left: 8%;
        width: 92%;
        height: 20%;
        top: 38%;
    }
    .submit{
        width: 100px;
        height: 40px;
        left: 60%;
        top: 57%;
    }
}
