/*
.row_9{
    !*        border: 1px solid red;*!
    display: flex;
    height: 1350px;
    width: 1520px;
    position: relative;
    top: -40px;
    background-color: #141414;
}

.gallery_img{
    width: 400px;
    height: 400px;
    border-radius: 20px;
}
#gallery_img1{
    position: absolute;
    top: 100px;
    left: 200px;
}
#gallery_img2{
    position: absolute;
    top: 300px;
    right: 200px;
}
#gallery_img3{
    position: absolute;
    top: 700px;
    left: 200px;
}
#gallery_img4{
    position: absolute;
    top: 900px;
    right: 200px;
}*/
.gallery{
           /* border: 1px solid blue;*/
    display: flex;
    height: 1350px;
    width: 1520px;
    position: absolute;

    bottom: -930%;
    background-color: #141414;
}

.gallery_img{
    width: 400px;
    height: 400px;
    border-radius: 20px;
}
#gallery_img1{
    position: absolute;
    top: 100px;
    left: 200px;
}
#gallery_img2{
    position: absolute;
    top: 300px;
    right: 200px;
}
#gallery_img3{
    position: absolute;
    top: 700px;
    left: 200px;
}
#gallery_img4{
    position: absolute;
    top: 900px;
    right: 200px;
}
@media all and (max-width: 1440px){

}
@media all and (max-width: 1024px) {

    .pe1{
        font-size: 1.8em;
    }
    .gallery_img{

        height: 350px;
        width: 350px;
        top: 10%;
    }
    #gallery_img1{
        top: 100px;
        left: 100px;
    }
    #gallery_img2{
        top: 350px;
        right: 600px;
    }
    #gallery_img3{
        top: 700px;
        left: 100px;
    }
    #gallery_img4{
        top: 870px;
        right: 600px;
    }
}
@media all and (max-width: 768px) {
    .gallery{
        height: 1111px;
        top: 825%;
    }
    .pe1{
        font-size: 2.5em;
    }
    .gallery_img{
        height: 300px;
        width: 300px;
        top: 10%;
    }
    #gallery_img1{
        top: 200px;
        left: 50px;
    }
    #gallery_img2{
        top: 400px;
        right: 800px;
    }
    #gallery_img3{
        top: 650px;
        left: 40px;
    }
    #gallery_img4{
        top: 800px;
        right: 800px;
    }
}

/*@media all and (max-width: 1440px){
     .gallery_img{
          height: 300px;
          width: 300px;
     }
    #gallery_img1{
        top: 200px;
        left: 150px;
    }
    #gallery_img2{
        position: absolute;
        top: 350px;
        right: 300px;
    }
    #gallery_img3{
        position: absolute;
        top: 700px;
        left: 200px;
    }
}*/
/*
@media all and (max-width: 1024px) {
    .gallery{
        height: 1200px;
    }
    .pe1{
        font-size: 2.5em;
    }
    .gallery_img{
        height: 300px;
        width: 240px;
        top: 10%;
    }
    #gallery_img1{
        top: 200px;
        left: 150px;
    }
    #gallery_img2{
        top: 350px;
        right: 700px;
    }
    #gallery_img3{
        top: 700px;
        left: 150px;
    }
    #gallery_img4{

        top: 750px;
        right: 700px;
    }
}
@media all and (max-width: 768px) {
    .gallery{
        height: 1200px;
        top: 830%;
    }
    .pe1{
        font-size: 2.5em;
    }
    .gallery_img{
        height: 300px;
        width: 300px;
        top: 10%;
    }
    #gallery_img1{
        top: 200px;
        left: 50px;
    }
    #gallery_img2{
        top: 400px;
        right: 800px;
    }
    #gallery_img3{
        top: 650px;
        left: 40px;
    }
    #gallery_img4{
        top: 800px;
        right: 800px;
    }
}
@media all and (max-width: 425px) {
    .gallery{
       !* border: 1px solid red;*!
        height: 1200px;
        width: 400px;
        top: 835%;
    }
    .pe1{
        font-size: 2em;
        left: 35%;
    }
    .gallery_img{
        height: 250px;
        width: 250px;
        top: 10%;
    }
    #gallery_img1{
        top: 100px;
        left: 50px;
    }
    #gallery_img2{
        top: 380px;
        left: 50px;
    }
    #gallery_img3{
        top: 650px;
        left: 50px;
    }
    #gallery_img4{
        top: 930px;
        left: 50px;
    }
}*/
