
body{
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    background-color: #141414;
    /*    align-items: center;*/

}
.nav{
    /* border: 1px solid blue;*/
    width: 99vw;
    background: black;
    color: white;
    margin: auto;


}
.nav-link{
    position: relative;
    left: 650px;
    margin: 0;
    font-size: 1.1em;
}
.nav-link{
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}
.nav-link::before{
    content: "";
    position: absolute;
    right: 15px;
    /*left: 15px;*/
    bottom: 5px;
    width: 0;
    height: 5px;
    background-color:red ;
    background-image: linear-gradient(to right,#070A52,#f5380a);
    border-radius: 10px;
    transition: width 1.50s ease-out;
}
.nav-link:hover::before{
    width: 70%;
    right: auto;
    left: 15px;


}
.nav-link:hover{
    font-weight: bolder;
}
@media all  and (max-width:1440px){
    .nav{
        /*background: red;*/
        width: 100vw;
        color: white;

    }
    .nav-link{
        left: 40%;
        font-size: 1.1em;
    }
    /*.nameC{
        left: -50%;
    }*/
    /*#AS1{
        left: 10%;
    }*/
}
@media all  and (max-width:1024px){
    .nav{
        /*background: red;*/
        color: white;
        margin: auto;
    }
    .nav-link{
        left: 25%;
        font-size: 0.9em;
    }
}
@media all and (max-width: 851px) {
    .nav-link{
        left: 100px;

    }
    .nav-link:hover::before{
        width: 40px;
    }
    
}
@media all  and (max-width:768px){
    .nav{
/*        background: red;*/
        height: 6vh;
        color: white;
        margin: auto;
    }
    .nav-link{
       /* position: absolute;*/
        left: 0%;
        top: 35%;
        font-size: 1.5em;
        background-color: #1a1a1a;
        width: 100%;
        display: none;
    }
    .nav-link{
       align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .active>.nav-link{
        display: initial;

    }
    .nav-link::before{
        height: 4px;
    }
    .menu{
        position: relative;
        width: 40px;
        height: 30px;
        bottom: -19%;
        left: 1%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .menu::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: translateY(-12px);
        box-shadow: 0 12px white;
    }
    .menu::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: translateY(12px);
    }
    nav.active>.menu::before{
        transform: rotate(45deg);
        box-shadow: 0 0 white;
    }
    nav.active>.menu::after{
        transform: rotate(315deg);

    }
    .nav-link::before{
        content: "";
        position: absolute;
        right: 15px;
        bottom: 5px;
        width: 0;
        height: 5px;
        transition: width 1.50s ease-out;
        animation: none;
    }
}
@media all  and (max-width:425px){
    .nav{
        /*background: red;*/
        height: 5vh;
        color: white;
        margin: auto;
    }
    .nav-link{
        /* position: absolute;*/
        left: 0%;
        top: 35%;
        font-size: 1em;
        background-color: #1a1a1a;
        width: 100%;
        display: none;
    }
    .nav-link{
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .active>.nav-link{
        display: initial;

    }
    .nav-link::before{
        height: 4px;
    }
    .menu{
        position: relative;
        width: 30px;
        height: 30px;
        top: 8%;
        left: 2%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .menu::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: translateY(-12px);
        box-shadow: 0 12px white;
    }
    .menu::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transform: translateY(12px);
    }
    nav.active>.menu::before{
        transform: rotate(45deg);
        box-shadow: 0 0 white;
    }
    nav.active>.menu::after{
        transform: rotate(315deg);

    }
    .nav-link::before{
        content: "";
        position: absolute;
        right: 15px;
        /*left: 15px;*/
        bottom: 5px;
        width: 0;
        height: 5px;
        background-color:red ;
        background-image: linear-gradient(to right,#070A52,#f5380a);
        border-radius: 10px;
        transition: width 1.50s ease-out;
        animation: none;
    }
}
