/*
.row_5{
    height: 730px;
    width: 1520px;
    display: flex;
    position: relative;
    top: -40px;
    background-color: #141414 ;
}
.se1{
    color: white;
    font-size: 50px;
    position: relative;
    left: 40%;
    background: #262626 -webkit-gradient(linear,left top,right top,from(#262626),to(#262626),color-stop(0.5,#fff)) 0 0 no-repeat;
    background-size: 150px;
    color: rgb(255,255,255,0.1);
    -webkit-background-clip: text;
    animation: animated 3s infinite;
    font-family:"Alegreya" ;

}
strong {
    font-weight: 900;
}
.canvas-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 20px;
    top: 70px;
}

.canvas-wrapper .canvas + .canvas {
    margin-left: 40px;
}
.canvas {
    position: relative;
    display: block;
    width: 300px;
    height: 300px;
    padding: 20px;
    left: 100px;
    color: inherit;
    text-decoration: none;
}
.canvas_border {
    position: absolute;
    top: 40px;
    left: -40px;
    height: 70%!*100%*!;
    width: 70%!*100%*!;
    z-index: 0;
}

.canvas_border svg {
    height: 100%;
    width: 100%;
}
.rect-gradient {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: erase-line 1s ease-in-out forwards;
}
.canvas_img-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width:70% !*100%*!;
    height:70% !*100%*!;
    top: 0;
    left: 0;
    transform: rotate(-10deg) skew(-10deg);
    overflow: hidden;
    background: #202020;
    border-radius: 10px;
}

.canvas_img {
    transform: scale3d(.9,.9,.9);
    opacity: .3;
    max-width: 200px;
    max-height: 200px;
}
.canvas_copy {
    position: absolute;
    bottom: 0;
    left: 85%;
    text-transform: uppercase;
    color: red;
    z-index: 100;
}
.canvas_copy--left {
    left: 25%;
}
.canvas_copy_title {
    font-size: 20px;
    display: block;
    transform: translateX(-var(--animation-offset));
    transition: var(--transition-cubic-bezier) 0s;
    color: white;

}

.canvas_copy_title:nth-child(1) {
    transition-delay: 0.1s;
}

.canvas_copy_title:nth-child(2) {
    transition-delay: 0.2s;
}
.canvas_copy_subtitle {
    display: block;
    transform: rotate(270deg) translateY(-100%) translateX(calc(-100% - #{$animation-offset}));
    transform-origin: top left;
    position: absolute;
    left: 0;
    top: 8px; //This needs to change with font size. It's an offset for the line-height of the "hellow world"
font-size: 24px;
    font-weight: 900;
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.35s;
}
.canvas_copy_details {
    display: block;
    transition: var(--transition-cubic-bezier) 0.14s;
    transform: translateX(-var(--animation-offset));
}
.canvas_border, .canvas_img-wrapper, .canvas_img {
    transition: var(--transition-ease-in-out);
}
.canvas_border, .canvas_img-wrapper {
    transform: rotate(-10deg) skew(-10deg);
}
.canvas_copy_title, .canvas_copy_subtitle, .canvas_copy_details {
    opacity: 0;
}
.canvas:hover .canvas_copy_title,
.canvas:hover .canvas_copy_subtitle,
.canvas:hover .canvas_copy_details,
.canvas:hover .canvas_img {
    opacity: 1;
}

.canvas:hover .canvas_border,
.canvas:hover .canvas_img-wrapper {
    transform: rotate(-14deg) skew(-14deg) scale(0.96);
}

.canvas:hover .canvas_img {
    transform: scale3d(1, 1, 1);
}

.canvas:hover .canvas_copy_title,
.canvas:hover .canvas_copy_details {
    transform: translateX(0);
}

.canvas:hover .canvas_copy_subtitle {
    transform: rotate(270deg) translateY(-100%) translateX(-100%);
}

.canvas:hover .rect-gradient {
    animation: draw-line 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@keyframes draw-line {
    from {
        stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes erase-line {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 2000;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}*/
.service{
    /*border: 1px solid blue;*/
    height: 730px;
    width: 1520px;
    display: flex;
    position: absolute;
    bottom: -282%;
    background-color: #141414 ;
}
.se1{
    color: white;
    font-size: 50px;
    position: relative;
    left: 40%;
    background: #262626 -webkit-gradient(linear,left top,right top,from(#262626),to(#262626),color-stop(0.5,#fff)) 0 0 no-repeat;
    background-size: 150px;
    color: rgb(255,255,255,0.1);
    -webkit-background-clip: text;
    animation: animated 3s infinite;
    font-family:"Alegreya" ;

}
strong {
    font-weight: 900;
}
.canvas-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    left: 20px;
    top: 70px;
}

.canvas-wrapper .canvas + .canvas {
    margin-left: 40px;
}
.canvas {
    position: relative;
    display: block;
    width: 300px;
    height: 300px;
    padding: 20px;
    left: 100px;
    color: inherit;
    text-decoration: none;
}
.canvas_border {
    position: absolute;
    top: 40px;
    left: -40px;
    height: 70%/*100%*/;
    width: 70%/*100%*/;
    z-index: 0;
}

.canvas_border svg {
    height: 100%;
    width: 100%;
}
.rect-gradient {
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
    animation: erase-line 1s ease-in-out forwards;
}
.canvas_img-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width:70% /*100%*/;
    height:70% /*100%*/;
    top: 0;
    left: 0;
    transform: rotate(-10deg) skew(-10deg);
    overflow: hidden;
    background: #202020;
    border-radius: 10px;
}

.canvas_img {
    transform: scale3d(.9,.9,.9);
    opacity: .3;
    max-width: 200px;
    max-height: 200px;
}
.canvas_copy {
    position: absolute;
    bottom: 0;
    left: 85%;
    text-transform: uppercase;
    color: red;
    z-index: 100;
}
.canvas_copy--left {
    left: 25%;
}
.canvas_copy_title {
    font-size: 20px;
    display: block;
    transform: translateX(-var(--animation-offset));
    transition: var(--transition-cubic-bezier) 0s;
    color: white;

}

.canvas_copy_title:nth-child(1) {
    transition-delay: 0.1s;
}

.canvas_copy_title:nth-child(2) {
    transition-delay: 0.2s;
}
.canvas_copy_subtitle {
    display: block;
    transform: rotate(270deg) translateY(-100%) translateX(calc(-100% - #{$animation-offset}));
    transform-origin: top left;
    position: absolute;
    left: 0;
    top: 8px; //This needs to change with font size. It's an offset for the line-height of the "hellow world"
font-size: 24px;
    font-weight: 900;
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.35s;
}
.canvas_copy_details {
    display: block;
    transition: var(--transition-cubic-bezier) 0.14s;
    transform: translateX(-var(--animation-offset));
}
.canvas_border, .canvas_img-wrapper, .canvas_img {
    transition: var(--transition-ease-in-out);
}
.canvas_border, .canvas_img-wrapper {
    transform: rotate(-10deg) skew(-10deg);
}
.canvas_copy_title, .canvas_copy_subtitle, .canvas_copy_details {
    opacity: 0;
}
.canvas:hover .canvas_copy_title,
.canvas:hover .canvas_copy_subtitle,
.canvas:hover .canvas_copy_details,
.canvas:hover .canvas_img {
    opacity: 1;
}

.canvas:hover .canvas_border,
.canvas:hover .canvas_img-wrapper {
    transform: rotate(-14deg) skew(-14deg) scale(0.96);
}

.canvas:hover .canvas_img {
    transform: scale3d(1, 1, 1);
}

.canvas:hover .canvas_copy_title,
.canvas:hover .canvas_copy_details {
    transform: translateX(0);
}

.canvas:hover .canvas_copy_subtitle {
    transform: rotate(270deg) translateY(-100%) translateX(-100%);
}

.canvas:hover .rect-gradient {
    animation: draw-line 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}
@keyframes draw-line {
    from {
        stroke-dashoffset: 2000;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes erase-line {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 2000;
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media all and (max-width: 1440px){
    .canvas_copy {
        left: 10%;
    }

}
@media all  and (max-width: 1024px){


    .se1{
        font-size: 2.5em;
        left: 28%;
    }
    .canvas{
        top: -25%;
        left: 5%;
    }
    #c4{
        left: -47%;
        top: 20%;
    }
}
@media all and (max-width: 768px) {
/*   .service{
       border: 1px solid white;
     width: 700px;
     height: 1200px;
    top: 280%;
}*/
 .service{

     width: 750px;
     height: 750px;
 }
    .se1{
        font-size: 2.5em;
        left: 30%;
    }

    .canvas_img{
        width: 150px;
        height: 150px;
    }
    .canvas{
        width: 300px;
        height: 300px;
        top: -20%;
        left: 10%;

    }
    #c1,#c2{
        left: 5%;
        top: -20%;

    }
  /*  #c2{
        left: 5%;
        top: -20%;
    }*/
    #c3,#c4{
        left: -45%;
        top: 20%;
    }

    .canvas_copy {
        left: 10%;
        top: 50%;
    }
}
@media all and (max-width: 426px) {

 .service{
     /*border: 1px solid red;*/
     width: 750px;
     height: 750px;
 }
    .se1{
        font-size: 2em;
        left: 18%;
    }

    .canvas_img{
        width: 150px;
        height: 150px;
    }
    .canvas{
        width: 350px;
        height: 250px;
        top: -20%;
        left: 10%;

    }
    #c1{

        left: 20%;
        top: -25%;

    }
    #c2{
        position: absolute;
        top: 45%;
        right: 10%;
    }
    #c3{
        position: absolute;
        left: 10%;
        top: 80%;
    }
    #c4{
        position: absolute;
        left: 10%;
        top: 120%;
    }
    .canvas_copy {
        left: 10%;
        top: 50%;
    }
}
/*
@media all and (max-width: 1024px) {

    .se1{
        font-size: 2.5em;
        left: 150%;
    }
    .canvas_img{
        width: 100px;
        height: 100px;
    }
    .canvas{
        width: 200px;
        height: 220px;
        top: -10%;
        left: 10%;

    }
    .canvas_copy {
        left: 10%;
    }
}
@media all and (max-width: 768px) {
!*   .service{
      !* width: 700px;*!
      !* height: 1200px;*!
       top: 280%;
   }*!
    .service{
        width: 750px;
        height: 750px;
    }
    .se1{
        font-size: 2.5em;
        left: 100%;
    }

    .canvas_img{
        width: 200px;
        height: 200px;
    }
    .canvas{
        width: 350px;
        height: 350px;
        top: -20%;
        left: 10%;

    }
    #c1{
        left: 5%;
       top: -20%;

    }
    #c2{
        left: 5%;
        top: 10%;
    }
    #c3{
        left: -50%;
        top: 40%;
    }
    #c4{
        left: -50%;
        top: 70%;
    }
    .canvas_copy {
        left: 10%;
        top: 50%;
    }
}
@media all and (max-width: 425px) {
    !*   .service{
          !* width: 700px;*!
          !* height: 1200px;*!
           top: 280%;
       }*!
    .service{
        width: 750px;
        height: 750px;
    }
    .se1{
        font-size: 2em;
        left: 50%;
    }

    .canvas_img{
        width: 150px;
        height: 150px;
    }
    .canvas{
        width: 250px;
        height: 250px;
        top: -20%;
        left: 10%;

    }
    #c1{

        left: 20%;
        top: -25%;

    }
    #c2{
        position: absolute;
        top: 45%;
        right: 10%;
    }
    #c3{
        position: absolute;
        left: 10%;
        top: 80%;
    }
    #c4{
        position: absolute;
        left: 10%;
        top: 120%;
    }
    .canvas_copy {
        left: 10%;
        top: 50%;
    }
}*/
