/*
.row_4{
    !*    border: 1px solid greenyellow;*!
    height: 730px;
    width: 1520px;
    display: flex;
    position: relative;
    top: -40px;
    background-color: #141414 ;
padding: 0;
}
.s{
    color: white;
    font-size: 50px;
    font-family:"Alegreya" ;
    font-weight: bolder;
    position: absolute;
    left: 600px;
}
.s2{
    color: red;
    background: red -webkit-gradient(linear,left top,right top,from(red),to(#ED2B2A),color-stop(0.5,#FFE0D3)) 0 0 no-repeat;
    background-size: 150px;
    color: rgb(255,255,255,0.1);
    -webkit-background-clip: text;
    animation: animated 3s infinite;
}
@keyframes animated {
    0%{
        background-position: -200px;
    }
    100%{
        background-position: 200px;
    }

}
.frame2 {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 1200px;
    height:600px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #141414 ;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 30%;
    left: 40%;
    height: 200px;
    width: 400px;
    transform: perspective(60px) translate(-50%,-50%);
    transform-style: preserve-3d;
}

.card{
    position: absolute;
    left: 125px;
    background-color: #141414;
    border: 1px solid #141414 ;
}
.card img{
    width: 100%;
}
#card1{
    animation: cardAnim 8s ease-in-out infinite;
    position: absolute;
    top: 120px;
}

#card2{
    animation: cardAnim 8s ease-in-out infinite;
    animation-delay: -1s;
    position: absolute;
    top: 120px;
}
#card3{
    animation: cardAnim 8s ease-in-out infinite;
    animation-delay: -2s;
    position: absolute;
    top: 120px;
}
#card4{
    animation: cardAnim 8s ease-in-out infinite;
    animation-delay: -3s;
    position: absolute;
    top: 80px;
}
#card5{
    animation: cardAnim 8s ease-in-out infinite;
    animation-delay: -4s;
    position: absolute;
    top: 120px;
}
#card6{
    animation: cardAnim 8s ease-in-out infinite;
    animation-delay: -5s;
    position: absolute;
    top: 120px;

}

@keyframes cardAnim {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    / / z-index: 2;
    }
    33.33% {
        transform: translate3d(800px, -50%, -50px);
    / / z-index: 1;
    }
    66.67% {
        transform: translate3d(-800px, -50%, -50px);
    }
}*/
.skill{
    /*        border: 1px solid greenyellow;*/
    height: 730px;
    width: 1520px;
    display: flex;
    position: absolute;
    bottom: -190%;
    background-color: #141414 ;

}
.s{
    color: white;
    font-size: 50px;
    font-family:"Alegreya" ;
    font-weight: bolder;
    position: absolute;
    left: 600px;
}
.s2{
    color: red;
    background: red -webkit-gradient(linear,left top,right top,from(red),to(#ED2B2A),color-stop(0.5,#FFE0D3)) 0 0 no-repeat;
    background-size: 150px;
    color: rgb(255,255,255,0.1);
    -webkit-background-clip: text;
    animation: animated 3s infinite;
}
@keyframes animated {
    0%{
        background-position: -200px;
    }
    100%{
        background-position: 200px;
    }

}
.frame2 {
   /* border: 1px solid blue;*/
    position: absolute;
    top: 40%;
    left: 25%;
    width: 1200px;
    height:600px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
    overflow: hidden;
    background: #141414 ;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
  /*  border: 1px solid red;*/
    position: absolute;
    top: 30%;
    left: 40%;
    height: 200px;
    width: 400px;
    transform: perspective(60px) translate(-50%,-50%);
    transform-style: preserve-3d;
    align-items: center;
    justify-content: center;
}

.card{
    position: absolute;
    left: 125px;
    background-color: #141414;
    border: 1px solid #141414 ;
}
.card img{
    width: 100%;
}
#card1{
    animation: cardAnim 8s ease-in-out infinite;
    position: absolute;
    top: 120px;
}

#card2{
    animation: cardAnim 8s ease-in-out infinite;
    animation-delay: -1s;
    position: absolute;
    top: 120px;
}
#card3{
    animation: cardAnim 8s ease-in-out infinite;
    animation-delay: -2s;
    position: absolute;
    top: 120px;
}
#card4{
    animation: cardAnim 8s ease-in-out infinite;
    animation-delay: -3s;
    position: absolute;
    top: 80px;
}
#card5{
    animation: cardAnim 8s ease-in-out infinite;
    animation-delay: -4s;
    position: absolute;
    top: 120px;
}
#card6{
    animation: cardAnim 8s ease-in-out infinite;
    animation-delay: -5s;
    position: absolute;
    top: 120px;

}

@keyframes cardAnim {
    0%, 100% {
        transform: translate3d(0, 0, 0);
    / / z-index: 2;
    }
    33.33% {
        transform: translate3d(800px, -50%, -50px);
    / / z-index: 1;
    }
    66.67% {
        transform: translate3d(-800px, -50%, -50px);
    }
}
@media all and (max-width: 1440px){
    .s{
        left: 35%;
    }
    .frame2{
        left: 22%;
    }
    /*.card{
        width: 500px;
        height: 500px;
    }*/
    #card1,#card2,#card3,#card4,#card5,#card6{
        width: 270px;
        height: 270px;
    }
}
@media all and (max-width: 1024px){
    .s{
        left: 20%;
    }
    .frame2{
       /* border: 1px solid red;*/
        width: 900px;
        left: 18%;
    }

    /*.card{
        width: 500px;
        height: 500px;
    }*/
    #card1,#card2,#card3,#card4,#card5,#card6{
        width: 240px;
        height: 240px;
    }
    @keyframes cardAnim {
        0%, 100% {
            transform: translate3d(0, 0, 0);
            z-index: 2;
        }
        33.33% {
            transform: translate3d(600px, -40%, -40px);
            z-index: 1;
        }
        66.67% {
            transform: translate3d(-600px, -40%, -40px);
        }
    }
}
@media all and (max-width: 768px) {

    .skill{
        top: 190%;
        height: 99.9vh;

    }

    .s{
        font-size: 2.5em;
        left: 15%;
    }
    .frame2{
        left: 18%;
        width: 600px;
        height: 400px;
    }
    .center{
        /*!*   border: 1px solid red;*!*/
    height: 100px;
        width: 200px;
        left: 40%;
        bottom: 10%;
    }
    #card1,#card2,#card3,#card4,#card5,#card6{
        width: 150px;
        height: 150px;
    }
    @keyframes cardAnim {
        0%, 100% {
            transform: translate3d(0, 0, 0);
            z-index: 2;
        }
        33.33% {
            transform: translate3d(400px, -50%, -50px);
            z-index: 1;
        }
        66.67% {
            transform: translate3d(-400px, -50%, -50px);
        }
    }
}
@media all and (max-width: 426px) {

    .skill{
        top: 210%;
        height: 99.9vh;
    }

    .s{
        font-size: 2em;
        left: 5%;
    }
    .frame2{
        left:14%;
        width: 380px;
        height: 400px;
    }
    .center{
        height: 80px;
        width: 150px;
        left: 40%;
        bottom: 10%;
    }
    #card1,#card2,#card3,#card4,#card5,#card6{
        width: 250px;
        height: 250px;
        left: 15%;
        top: -10%;
    }

    @keyframes cardAnim {
        0%, 100% {
            transform: translate3d(0, 0, 0);
            z-index: 2;
        }
        33.33% {
            transform: translate3d(-1000px, 0%, 0px);
            z-index: 1;
        }
        66.67% {
            transform: translate3d(-1000px, 0%, 0px);
        }
    }
}
/*@media all and  (max-width: 1440px){

    .s{
        font-size: 2.5em;
      }
    .center{
        height: 200px;
        width: 400px;
    }
    #card1,#card2,#card3,#card4,#card5,#card6{
        width: 250px;
        height: 250px;
    }
    @keyframes cardAnim {
        0%, 100% {
            transform: translate3d(0, 0, 0);
         z-index: 2;
        }
        33.33% {
            transform: translate3d(600px, -40%, -40px);
        z-index: 1;
        }
        66.67% {
            transform: translate3d(-600px, -40%, -40px);
        }
    }
}*/
/*
@media all and (max-width: 1024px) {

    .s{
        font-size: 2.5em;
        left: 25%;
    }
    .frame2{
        left: 18%;
        width: 900px;
        height: 600px;
    }
    .center{
        !*border: 1px solid red;*!
        height: 150px;
        width: 350px;
        left: 40%;
        bottom: 10%;
    }
    #card1,#card2,#card3,#card4,#card5,#card6{
        width: 200px;
        height: 200px;
    }
    @keyframes cardAnim {
        0%, 100% {
            transform: translate3d(0, 0, 0);
            z-index: 2;
        }
        33.33% {
            transform: translate3d(600px, -40%, -40px);
            z-index: 1;
        }
        66.67% {
            transform: translate3d(-600px, -40%, -40px);
        }
    }
}
@media all and (max-width: 768px) {

    .skill{
        top: 210%;
        height: 99.9vh;
    }

    .s{
        font-size: 2.5em;
        left: 15%;
    }
    .frame2{
        left: 18%;
        width: 600px;
        height: 400px;
    }
    .center{
     !*   border: 1px solid red;*!
        height: 100px;
        width: 200px;
        left: 40%;
        bottom: 10%;
    }
    #card1,#card2,#card3,#card4,#card5,#card6{
        width: 150px;
        height: 150px;
    }
    @keyframes cardAnim {
        0%, 100% {
            transform: translate3d(0, 0, 0);
            z-index: 2;
        }
        33.33% {
            transform: translate3d(400px, -50%, -50px);
            z-index: 1;
        }
        66.67% {
            transform: translate3d(-400px, -50%, -50px);
        }
    }
}
@media all and (max-width: 425px) {

    .skill{
        top: 210%;
        height: 99.9vh;
    }

    .s{
        font-size: 2em;
        left: 5%;
    }
    .frame2{
        left:14%;
        width: 380px;
        height: 400px;
    }
    .center{
        height: 80px;
        width: 150px;
        left: 40%;
        bottom: 10%;
    }
    #card1,#card2,#card3,#card4,#card5,#card6{
        width: 250px;
        height: 250px;
        left: 15%;
        top: -10%;
    }

    @keyframes cardAnim {
        0%, 100% {
            transform: translate3d(0, 0, 0);
            z-index: 2;
        }
        33.33% {
            transform: translate3d(-1000px, 0%, 0px);
            z-index: 1;
        }
        66.67% {
            transform: translate3d(-1000px, 0%, 0px);
        }
    }
}*/
